{% extends 'base.html.twig' %}

{% block title %}{{"Authentification"|trans}}{% endblock %}

{% block body %}





<form method="post">

    <div class="div_resp">


        {% for message in app.flashes('message') %}
            <div class="alert alert-success alert-dismissible" role="alert">{{ message }}
                <a href="mailto:{{ oneAdmin }}" class="alert-link">{{ "Contactez-nous"|trans }}</a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible" role="alert">{{ message }}.
                <a href="mailto:{{ oneAdmin }}" class="alert-link">{{ "Contactez-nous"|trans }}</a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        {% if error %}

            <div class="alert alert-danger  alert-dismissible fade show" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}



   

    <h1 class="titre-page">{% trans %}AUTHENTIFICATION{% endtrans %}</h1>
   
    
        

    <div class="form-group m-2">
        <label for="inputEmail">{{ 'Mail'|trans }}</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    </div>

    <div class="form-group m-2">
        <label for="inputPassword">{{ 'Mot de passe'|trans }}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
    </div>
    <div>
        <a style="font-family : Sen-Regular; color : #AF929D !important ; float : right" class="m" href="/reset-password" style="padding-top : 10px">{% trans %}Mot de passe oublié{% endtrans %} ?</a>
    

    </div>
       <br>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <div class="text-center">
        <button class="btn btn-lg btn-primary submit m-4" style="border-color: #6096BA ;" type="submit">
            {% trans %}Connexion{% endtrans %}
        </button>
    
    
        <p style="padding-top : 20px">{% trans %}Besoin d'un compte ?{% endtrans %} <b><a style="font-family : Sen-Regular-Bold ; color : #AF929D"  href="{{ path('app_register') }}">{% trans %}INSCRIVEZ-VOUS{% endtrans %}</a></b></p>
   
        
    </div>
</div>

</form>



{% endblock %}