{% extends 'base.html.twig' %}



{% block title %}{{"Les Réglementations" |trans}}{% endblock %}

{% block body %}
<style>

.pagination > li > a
{
    background-color: white;
    color: #020D24 !important;
     font-family : "Sen-Regular-Bold";
}

.pagination > .active > a
{
    color: #020D24 !important;
    background-color: #BE8B24 !Important;
    border: solid 1px #BE8B24 !Important;
}


</style>

<div class="container">
    <h1 class="titre-page">{{"Les Réglementations"|trans}}</h1>

        {% for message in app.flashes("success") %}
            <div class="alert alert-success alert-dismissible m-3">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>
        {% endfor %}
        <p>&nbsp</p>

        <div class="introduction_accueil" id="only_desktop">
            <p>{{"Retrouvez ici toutes les réglementations" | trans}} : </p>
                <div class="d-flex flex-row-reverse mb-2">
                    <a  style="color : white ; font-weight: bold ; font-family : Sen-Regular-Bold "href="{{ path('admin_add_reglementation') }}" class="btn btn-outline-success ml-2 ">{{"AJOUTER UNE RÈGLEMENTATION"|trans}}</a>
                </div>
                <table class="table table_select_event text-light" id="table_select_event">
                        <thead style="font-family:Sen-Regular-ExtraBold">
                            <th class="text-center">{{"Libellé"|trans}}</th>
                            <th class="text-center">{{"Pictogramme"|trans}}</th>
                            <th style="text-align:center">{{"Actions"|trans}}</th>
                </thead>
                <tbody class="center">
                        {% for type_reglementation in types_reglementation %}
                            <tr>
                                <td class="text-center" style="vertical-align: middle ;">
                                    {{ type_reglementation.libelle }}
                                </td>
                                <td class="text-center">
                                    <img src="../../../../uploads/picto_directory/{{ type_reglementation.picto }}" alt="pictogramme" width="50" height="50">
                                </td>
                                <td class="text-center"  style="vertical-align: middle ;">
                                    <a  style="color : white ; font-weight: bold ; font-family : Sen-Regular-Bold ;" class="btn btn-outline-info mr-1" href="{{ path('admin_edit_reglementation', {'id': type_reglementation.id })}}">{{"MODIFIER"|trans}}</a>
                                    <a  style="color : white ; font-weight: bold ; font-family : Sen-Regular-Bold" class="btn btn-outline-danger ml-1" href="{{ path('admin_delete_reglementation', {'id': type_reglementation.id })}}">{{"SUPPRIMER" |trans}}</a>

                                </td>
                            </tr>
                        {% else %}
                            <tr><td class="text-center"colspan='4'> {{"Réglementation non trouvé dans la base de données" |trans }}</td></tr>
                        {% endfor %}
                </tbody>
            </table>
            <div style="color : black !important" class="d-flex justify-content-center">
                {{ knp_pagination_render(types_reglementation) }}
            </div>
        </div>

    <div class="introduction_accueil" id="only_mobile">
        <p>{{"Retrouvez ici toutes les réglementations" | trans}} : </p>
        <div class="d-flex flex-row-reverse mb-2">
            <a  style="color : white ; font-weight: bold ; font-family : Sen-Regular-Bold "href="{{ path('admin_add_reglementation') }}" class="btn btn-outline-success ml-2 ">{{"AJOUTER UNE RÈGLEMENTATION"|trans}}</a>
        </div>
        <table class="table table_select_event text-light" id="table_select_event">
            <thead style="font-family:Sen-Regular-ExtraBold">
            <th class="text-center">{{"Libellé"|trans}}</th>
            <th class="text-center">{{"Pictogramme"|trans}}</th>
            <th style="text-align:center">{{"Actions"|trans}}</th>
            </thead>
            <tbody class="center">
            {% for type_reglementation in types_reglementation %}
                <tr>
                    <td class="text-center" style="vertical-align: middle ;">
                        {{ type_reglementation.libelle }}
                    </td>
                    <td class="text-center">
                        <img src="../../../../uploads/picto_directory/{{ type_reglementation.picto }}" alt="pictogramme" width="50" height="50">
                    </td>
                    <td class="text-center"  style="vertical-align: middle ;">
                        <a  style="color : white ; font-weight: bold ; font-family : Sen-Regular-Bold ;" class="btn btn-outline-info mr-1" href="{{ path('admin_edit_reglementation', {'id': type_reglementation.id })}}">{{"MODIFIER"|trans}}</a>
                        <a  style="color : white ; font-weight: bold ; font-family : Sen-Regular-Bold" class="btn btn-outline-danger ml-1" href="{{ path('admin_delete_reglementation', {'id': type_reglementation.id })}}">{{"SUPPRIMER" |trans}}</a>

                    </td>
                </tr>
            {% else %}
                <tr><td class="text-center"colspan='4'> {{"Réglementation non trouvé dans la base de données" |trans }}</td></tr>
            {% endfor %}
            </tbody>
        </table>
        <div style="color : black !important" class="d-flex justify-content-center">
            {{ knp_pagination_render(types_reglementation) }}
        </div>
    </div>


    </div>

{% endblock %}