<link rel="icon" type="image/png" href="{{ asset('img/PO.png') }}" />

<h1 class="text-center m-3">{{"Product Owner" | trans}}</h1>
<hr style="margin:auto ; height:30px"  width="50%" >
<div class="row div_resp">
    <div id="service_fonctions" class="col">
        <h2 class="text-center ">{{'GESTION DES PRODUITS'|trans}}</h2>
        <hr style="margin:auto ; height:30px"  width="50%" >
        <div class="d-flex justify-content-center">
            <a class="btn btn-info btn-lg action m-2" href="{{path('app_produit_index')}}" ><span style="font-size: 25px;">{{'Liste des produits'|trans}}</span></a>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-info btn-lg action m-2" href="{{path('app_produit_new')}}" ><span style="font-size: 25px;">{{'Ajouter un produit' | trans}}</span></a>
        </div>
    </div>
</div>

<div id="service_fonctions" >
    <h2 class="text-center ">{{'EXPORT' | trans}}</h2>
    <hr style="margin:auto ; height:30px"  width="50%" >
    <div class="d-flex justify-content-center">
        <a class="btn btn-info btn-lg action m-2" href="{{ path('app_export_produit') }}"><span style="font-size: 25px;">{{'Export des produits' | trans}}</span></a>
    </div>
    
</div>
