{% extends 'base.html.twig' %}



{% block title %}{{"Les ventes" |trans}}{% endblock %}

{% block body %}
<style>

.pagination > li > a
{
    background-color: white;
    color: #020D24 !important;
     font-family : "Sen-Regular-Bold";
}

.pagination > .active > a
{
    color: #020D24 !important;
    background-color: #BE8B24 !Important;
    border: solid 1px #BE8B24 !Important;
}


</style>

<div>
    <h1 class="titre-page">{{"Les Ventes"|trans}}</h1>

        {% for message in app.flashes("success") %}
            <div class="alert alert-success alert-dismissible m-3">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>
        {% endfor %}

        <div class="col-md-2 filtrage" style="float:left; width:20%; margin-top: 20px; padding-left: 2px ; min-height: 100% ; position: absolute">
            <div class="panel panel-default text-center">
                <div class="panel-heading m-4">
                    <h3 class="panel-title titre-page">{{"Filtrage" |trans}}</h3>
                </div>

                {{ form_start(form) }}

                    <div class="d-flex justify-content-center mb-2">

                        {{ form_row(form.q) }}
                    </div>
                    <p style="font-family: Sen-Regular-Bold">{{"Catégories"|trans}} :</p>
                    <div class="d-flex justify-content-center mb-2">

                        {{ form_row(form.categories) }}
                    </div>

                <div class="div_resp">
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.Rechercher) }}
                        </div>
                        <div class="col">
                            <a href="{{ path('app_vente_index') }}" class="btn btn-danger" style='font-family : Sen-Regular-Bold ; color: black'>{{"RÉINITIALISER" |trans}}</a>
                        </div>
                    </div>
                </div>



                {{ form_end(form) }}
            </div>
        </div>

        <p>&nbsp</p>
        <div style="width: 80%; float: right">
    <div class="introduction_accueil">
    <p>{{"Retrouvez ici toutes les ventes" | trans}} : </p>
    <div class="d-flex flex-row-reverse mb-2">
            <a style="color : white ; font-weight: bold ; font-family : Sen-Regular-Bold "href="{{ path("app_vente_new") }}" class="btn btn-outline-success m-2 ">{{"AJOUTER UNE VENTE"|trans}}</a>
            <a style="color : white ; font-weight: bold ; font-family : Sen-Regular-Bold "href="{{ path("app_vente_import") }}" class="btn btn-outline-warning m-2 ">{{"IMPORTER DES VENTES"|trans}}</a>
    </div><br /> 
        <table class="table table_select_event text-light" id="table_select_event" style = "border: 2px solid white">
                <thead style="font-family:Sen-Regular-ExtraBold">
                    <th>{{"Catégorie"|trans}}</th>
                    <th>{{"Libellé"|trans}}</th>
                    <th>{{"Actions"|trans}}</th>
        </thead>
    <tbody class="center">
            {% for vente in ventes %}
                <tr>
                    <td class="text-center">
                        {{ vente.categorie.libelle }}
                    </td>
                    <td class="text-center">
                        {{ vente.libelle }}
                    </td>
                    <td class="text-center">
                        <div id = "div-action">
                            <a style="color : white ; font-weight: bold ; font-family : Sen-Regular-Bold ;" class="btn btn-outline-success mr-1" href="{{ path('app_vente_show', {'id': vente.id}) }}">{{"CONSULTER"|trans}}</a>
                            <a style="color : white ; font-weight: bold ; font-family : Sen-Regular-Bold ;" class="btn btn-outline-info mr-1" href="{{ path('app_vente_edit', {'id': vente.id}) }}">{{"MODIFIER"|trans}}</a> 
                            <a onclick="return confirm('Voulez-vous vraiment supprimer cette vente ?');" style="color : white ; font-weight: bold ; font-family : Sen-Regular-Bold" class="btn btn-outline-danger ml-1" href="{{ path("app_vente_delete" , {'id': vente.id }) }}">{{"SUPPRIMER" |trans}}</a> 
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr><td class="center"colspan='4'> {{"Vente non trouvée dans la base de données" |trans }}</td></tr>
            {% endfor %}
        </tbody>
    </table>


    <div style="color : black !important" class="d-flex justify-content-center">
            {{ knp_pagination_render(ventes) }}
    </div>
    <div class="d-flex justify-content-center m-5">
        <a href="{{ path('app_home') }}" class="btn btn-circle btn-secondary" >
            <i class="fas fa-home"></i> {{"Retour à l'accueil" | trans}}
            </a>
    </div>
            

</div>
{% endblock %}