<h1>{{"Prise de Contact" |trans}}</h1>

<p>{{"Bonjour" |trans}}, {{ user.nom}} <br></p>
<p>{{"Je vous recontacterais dans les plus brefs délais." |trans}}</p>

{{"Voici le contenu de votre prise de contact"|trans}} : <br>
<p> <b>{{"Sujet" |trans }} : </b> {{ sujet }}</p>
<p> <b>{{"Message" |trans}} : </b> {{ message }}</p>



<p>{{"Je vous souhaite une bonne journée"|trans}}.</p>
<h3> {{"Cordialement" |trans }},<br>
    {{"L' administration de MetzConnect" | trans}}</h3>
<img src="https://i.imgur.com/sRB0Mes.png" alt="Logo Metz Connect"/>