<h1>{{"Création d'un ticket" |trans}}</h1>

<p>{{"Bonjour" |trans}}, <br></p>
<p>{{"Un nouveau ticket a été créer par" |trans}} {{ user.nom |upper }} {{ user.prenom|lower }}.</p>

{{"Voici le contenu du ticket"|trans}} : <br>
<p> <b>{{"Produit concerné" |trans }} : </b> {{ ticket.produit.libelle }}</p>
<p> <b>{{"Commentaire" |trans }} : </b> {{ ticket.commentaire }}</p>
<p> <b>{{"Statut" |trans }} : </b> {{ ticket.status }}</p>

<p>{{"Vous pouvez consulter votre ticket en vous connectant à votre compte" |trans}}.</p>
<p>{{"Je vous souhaite une bonne journée"|trans}}.</p>
<h3> {{"Cordialement" |trans }},<br>
    {{"L' administration de MetzConnect" | trans}}</h3>
<img src="https://i.imgur.com/sRB0Mes.png" alt="Logo Metz Connect"/>