<p>{{"Bonjour" |trans }} {{ user.prenom }},</p>

<p>Il y'a {{ nb }} utilisateurs en attente.</p>
{{ AllUsersWait | raw }}


<p>{{ "Merci" | trans }}</p>

<p><b>{{ "Cordialement, Metz Connect" |trans }}</b></p>


<img src="https://i.imgur.com/sRB0Mes.png" alt="Logo Metz Connect"/>